@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
